/*Color Variables*/
:root {
/*	Light Variables*/
	--light-background: #EDE6DB;
	--light-background-2: #1A3C40;
	--light-background-3: black;
	--light-theme: #1D5C63;
	--light-accent: #417D7A;
	--light-text: #222831;
	--light-header: #393E46;
	
	
/*	Dark Variables*/
	--dark-background: #212121;
	--dark-background-2: #323232;
	--dark-background-3: #40444b;
	--dark-theme: #0D7377;
	--dark-accent: #14FFEC;
	--dark-text: #EDE6DB;
	--dark-header: #EEEEEE;
}

/*Light Mode*/
:root {
	--background: var(--light-background);
	--background-2: var(--light-background-2);
	--background-3: var(--light-background-3);
	--theme: var(--light-theme);
	--accent: var(--light-accent);
	--text: var(--light-text);
	--header: var(--light-header);
}

@media(prefers-color-scheme: dark)
{
	:root{
		--background: var(--dark-background);
		--background-2: var(--dark-background-2);
		--background-3: var(--dark-background-3);
		--theme: var(--dark-theme);
		--accent: var(--dark-accent);
		--text: var(--dark-text);
		--header: var(--dark-header);
	}
}

body {
	color: var(--text);
	background: var(--background);
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
}

nav a {
	font-weight: bold;
	color: var(--text);
}

button {
	background: var(--background);
	border: solid 1px var(--header);
	border-radius: 5px;
}

h1, h2, button, h3, label {
	color: var(--header);
}

p, a, ul, li {
	color: var(--text);
}

nav a.router-link-exact-active {
	color: var(--theme);
}

input {
	margin: 1rem .5rem;
	border-radius: .5rem;
	padding: .5rem;
}

::-webkit-scrollbar {
	width: .5rem;
}

::-webkit-scrollbar-track {
	background: var(--background);
}

::-webkit-scrollbar-thumb {
	background: var(--header);
	border-radius: 1rem;
}

svg {
	width: 1.5rem;
	height: 1.5rem;
}
svg path {
	fill: var(--theme);
}