@import './base.css';

.flex-spacer {
    flex-grow: 1;
}

.nav-link {
    padding-left: .5rem;
    padding-right: .5rem;
}

#app {
    min-height: 95dvh;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 2rem;
}