@import './base.css';

.flex-spacer {
    flex-grow: 1;
}

.nav-link {
    padding-left: .5rem;
    padding-right: .5rem;
}

#app {
    min-height: 95dvh;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.row {
    display: flex;
    gap: 2rem;
}

.button_row {
    border-top:  solid 1px var(--background-3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}